@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  display: flex;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.banners {
  display: flex;
  flex-direction: column;
  min-width: 300px;

}
#menu-ico:hover{
  transform: scale(1.2);
}
.card-container img:hover {
  transform: scale(1.1);

}
.base-items {
  display: flex;
}
.base-items div{
  flex-direction: column;
  margin-top: 10px;
}